<div class="content">
  <h2>{{ 'support.mainHeading' | translate }}</h2>
  <p>
    <vdl-card>
      <vdl-card-content>
        <p>
          {{ 'support.subHeading' | translate }}
        </p>
        <table class="vdl-table" style="width: 100%;">
          <tr class="vdl-header-row ng-star-inserted">
            <td class="vdl-cell cdk-column-position vdl-column-position ng-star-inserted">
              <h4>Andrzej Poblocki</h4>
              <a href="#">andrzej.poblocki@veritas.com</a>
            </td>
            <td class="vdl-cell cdk-column-position vdl-column-position ng-star-inserted">
              <h4>Adrian O'Sullivan</h4>
              <a href="#">adrian.osullivan@veritas.com</a>
            </td>
          </tr>
        </table>
      </vdl-card-content>
    </vdl-card>
  </p>
  <p>
    <vdl-card>
      <vdl-card-content>
        <h4>{{ 'support.supportTitle' | translate }}</h4>
        <p><a href="#">Globalization Automation Library (GAL)</a></p>
        <p><a href="#">GAL Starter Kit</a></p>
        <p><a href="#">Assisted Review Portal (ARP)</a></p>
      </vdl-card-content>
    </vdl-card>
  </p>
</div>