<div class="content">
    <h2>{{ 'dateTime.mainHeading' | translate }}</h2>
    <p>{{ 'dateTime.subHeading' | translate }}</p>
    <vdl-card>
        <vdl-card-content>
            <h3>{{ 'dateTime.dateTitle' | translate }} 10/15/2019</h3>
            <table class="vdl-table" style="width: 100%;">
                <tr class="vdl-header-row ng-star-inserted">
                    <td style="width: 180px;" class="vdl-cell cdk-column-position vdl-column-position ng-star-inserted">
                        {{ 'dateTime.usShortFormat' | translate }}
                    </td>
                    <td class="vdl-cell cdk-column-position vdl-column-position ng-star-inserted">
                        1/31/2000
                    </td>
                </tr>
                <tr class="vdl-header-row ng-star-inserted">
                    <td style="width: 180px;" class="vdl-cell cdk-column-position vdl-column-position ng-star-inserted">
                        {{ 'dateTime.nonUsShortFormat' | translate }}
                    </td>
                    <td class="vdl-cell cdk-column-position vdl-column-position ng-star-inserted">
                        2000年1月1日
                    </td>
                </tr>
                <tr class="vdl-header-row ng-star-inserted">
                    <td style="width: 180px;" class="vdl-cell cdk-column-position vdl-column-position ng-star-inserted">
                        {{ 'dateTime.usLongFormat' | translate }}
                    </td>
                    <td class="vdl-cell cdk-column-position vdl-column-position ng-star-inserted">
                        31 January, 2000
                    </td>
                </tr>
                <tr class="vdl-header-row ng-star-inserted">
                    <td style="width: 180px;" class="vdl-cell cdk-column-position vdl-column-position ng-star-inserted">
                        {{ 'dateTime.nonUsLongFormat' | translate }}
                    </td>
                    <td class="vdl-cell cdk-column-position vdl-column-position ng-star-inserted">
                        1月31日月曜日
                    </td>
                </tr>
            </table>
        </vdl-card-content>
    </vdl-card>
</div>