<vdl-top-bar>
  <vdl-icon vdl-top-bar-logo svgIcon="ux-veritas"></vdl-icon>
  <vdl-top-bar-title>Globalization Test App</vdl-top-bar-title>
  <vdl-top-bar-actions>
    <div class="vdl-top-bar-divider"></div>
    <button id="mnuLanguage" class="menuItem" vdl-icon-button [vdlMenuTriggerFor]="menu">
      {{ 'top-nav.languageMenu' | translate }} &#9776;
    </button>
    <vdl-menu [overlapTrigger]="false" yPosition="below" #menu="vdlMenu">
      <button vdl-menu-item id="en-US" (click)="useLanguage('en-US')">English</button>
      <button vdl-menu-item id="de-DE" (click)="useLanguage('de-DE')">Deutsche</button>
      <button vdl-menu-item id="zh-CN" (click)="useLanguage('zh-CN')">简体中文</button>
    </vdl-menu>
  </vdl-top-bar-actions>
</vdl-top-bar>

<div class="app-body">
  <div class="app-sidenav">
    <vdl-sidenav id='sideNav'
      [selectedCategory]="selectedCategory" 
      [categoryList]="categories" 
      (categorySelected)="onCategorySelect($event)">
    </vdl-sidenav>
  </div>
  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
</div>