<div class="content">
  <h2>{{ 'home.mainHeading' | translate }}</h2>
  <p>{{ 'home.subHeading' | translate }}</p>
  <p>
    <vdl-card>
      <vdl-card-content>
        <h4>{{ 'home.aboutGalHeading' | translate }}</h4>
        {{ 'home.aboutGalContent' | translate }}
        <ul>
          <li>{{ 'home.aboutGalLi1' | translate }}</li>
          <li>{{ 'home.aboutGalLi2' | translate }}</li>
          <li>{{ 'home.aboutGalLi3' | translate }}</li>
          <li>{{ 'home.aboutGalLi4' | translate }}</li>
          <li>{{ 'home.aboutGalLi5' | translate }}</li>
        </ul>
      </vdl-card-content>
    </vdl-card>
  </p>
  <p>
    <vdl-card>
      <vdl-card-content>
        <h4>{{ 'home.aboutArpHeading' | translate }}</h4>
        {{ 'home.aboutArpContentP1' | translate }}
        <p>{{ 'home.aboutArpContentP2' | translate }}</p>
      </vdl-card-content>
    </vdl-card>
  </p>
</div>